name: unit-test.yml
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit-test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        php: [ '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4' ]
        rabbit: [ '3.10', '3.11', '3.12', '3.13', '4.0', '4.1', '4.2' ]

    runs-on: ${{matrix.os}}
    services:
      rabbit:
        image: rabbitmq:${{matrix.rabbit}}-management
        ports:
          - 5672:5672
    steps:
      - uses: actions/checkout@v5
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.php}}
          coverage: xdebug
          tools: composer, phpunit
      - run: composer install -n --prefer-dist
      - run: php vendor/phpunit/phpunit/phpunit -c phpunit.xml --coverage-clover=coverage.xml
      - run: php vendor/bin/coverage-check coverage.xml 70
